In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import numpy as np

%matplotlib inline

In [2]:
cdc_full = pd.read_csv('../data/cdc.csv')

In [3]:
cdc_full.shape

(418300, 342)

In [4]:
cdc_full.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,1182019.0,1.0,18.0,2019.0,1100.0,2.019000e+09,2.019000e+09,1,...,114,1,1,1,1,0,0,2,1,2
1,1.0,1.0,1132019.0,1.0,13.0,2019.0,1100.0,2.019000e+09,2.019000e+09,1,...,121,1,1,1,1,0,0,1,1,2
2,1.0,1.0,1182019.0,1.0,18.0,2019.0,1100.0,2.019000e+09,2.019000e+09,1,...,164,1,1,1,1,0,0,1,2,2
3,1.0,1.0,1182019.0,1.0,18.0,2019.0,1200.0,2.019000e+09,2.019000e+09,1,...,0,9,9,1,1,1,1,9,9,0
4,1.0,1.0,1042019.0,1.0,4.0,2019.0,1100.0,2.019000e+09,2.019000e+09,1,...,178,1,1,1,1,0,0,2,1,2

In [5]:
cdc = cdc_full[['_STATE','_AGE_G','_SEX','BIRTHSEX','SOMALE','SOFEMALE','TRNSGNDR','_EDUCAG','EMPLOY1',
               '_INCOMG','_RACE','GENHLTH','_PHYS14D','_MENT14D', '_HCVU651','PERSDOC2','MEDCOST','CHECKUP1']]

In [6]:
cdc.head()

,_STATE,_AGE_G,_SEX,BIRTHSEX,SOMALE,SOFEMALE,TRNSGNDR,_EDUCAG,EMPLOY1,_INCOMG,_RACE,GENHLTH,_PHYS14D,_MENT14D,_HCVU651,PERSDOC2,MEDCOST,CHECKUP1
0,1.0,6,2,0,0,0,0,1,7,2,2,3,3,1,9,1,2,1
1,1.0,6,2,0,0,0,0,3,7,3,1,4,2,1,9,1,2,1
2,1.0,6,2,0,0,0,0,4,7,5,2,3,1,3,9,2,2,1
3,1.0,6,2,0,0,0,0,3,7,4,1,4,3,1,9,1,2,1
4,1.0,6,2,0,0,0,0,3,5,9,1,2,1,1,9,1,2,1

In [7]:
cdc._STATE = cdc._STATE.astype(int)

In [8]:
# In the future, use dictionaries with .replace()

In [9]:
cdc._STATE = cdc._STATE.replace(1, 'Alabama')
cdc._STATE = cdc._STATE.replace(2, 'Alaska')
cdc._STATE = cdc._STATE.replace(4, 'Arizona')
cdc._STATE = cdc._STATE.replace(5, 'Arkansas')
cdc._STATE = cdc._STATE.replace(6, 'California')
cdc._STATE = cdc._STATE.replace(8, 'Colorado')
cdc._STATE = cdc._STATE.replace(9, 'Connecticut')
cdc._STATE = cdc._STATE.replace(10, 'Delaware')
cdc._STATE = cdc._STATE.replace(11, 'District of Columbia')
cdc._STATE = cdc._STATE.replace(12, 'Florida')
cdc._STATE = cdc._STATE.replace(13, 'Georgia')
cdc._STATE = cdc._STATE.replace(15, 'Hawaii')
cdc._STATE = cdc._STATE.replace(16, 'Idaho')
cdc._STATE = cdc._STATE.replace(17, 'Illinois')
cdc._STATE = cdc._STATE.replace(18, 'Indiana')
cdc._STATE = cdc._STATE.replace(19, 'Iowa')
cdc._STATE = cdc._STATE.replace(20, 'Kansas')
cdc._STATE = cdc._STATE.replace(21, 'Kentucky')
cdc._STATE = cdc._STATE.replace(22, 'Louisiana')
cdc._STATE = cdc._STATE.replace(23, 'Maine')
cdc._STATE = cdc._STATE.replace(24, 'Maryland')
cdc._STATE = cdc._STATE.replace(25, 'Massachusetts')
cdc._STATE = cdc._STATE.replace(26, 'Michigan')
cdc._STATE = cdc._STATE.replace(27, 'Minnesota')
cdc._STATE = cdc._STATE.replace(28, 'Mississippi')
cdc._STATE = cdc._STATE.replace(29, 'Missouri')
cdc._STATE = cdc._STATE.replace(30, 'Montana')
cdc._STATE = cdc._STATE.replace(31, 'Nebraska')
cdc._STATE = cdc._STATE.replace(32, 'Nevada')
cdc._STATE = cdc._STATE.replace(33, 'New Hampshire')
cdc._STATE = cdc._STATE.replace(35, 'New Mexico')
cdc._STATE = cdc._STATE.replace(36, 'New York')
cdc._STATE = cdc._STATE.replace(37, 'North Carolina')
cdc._STATE = cdc._STATE.replace(38, 'North Dakota')
cdc._STATE = cdc._STATE.replace(39, 'Ohio')
cdc._STATE = cdc._STATE.replace(40, 'Oklahoma')
cdc._STATE = cdc._STATE.replace(41, 'Oregon')
cdc._STATE = cdc._STATE.replace(42, 'Pennsylvania')
cdc._STATE = cdc._STATE.replace(44, 'Rhode Island')
cdc._STATE = cdc._STATE.replace(45, 'South Carolina')
cdc._STATE = cdc._STATE.replace(46, 'South Dakota')
cdc._STATE = cdc._STATE.replace(47, 'Tennessee')
cdc._STATE = cdc._STATE.replace(48, 'Texas')
cdc._STATE = cdc._STATE.replace(49, 'Utah')
cdc._STATE = cdc._STATE.replace(50, 'Vermont')
cdc._STATE = cdc._STATE.replace(51, 'Virginia')
cdc._STATE = cdc._STATE.replace(53, 'Washington')
cdc._STATE = cdc._STATE.replace(54, 'West Virginia')
cdc._STATE = cdc._STATE.replace(55, 'Wisconsin')
cdc._STATE = cdc._STATE.replace(56, 'Wyoming')
cdc._STATE = cdc._STATE.replace(66, 'Guam')
cdc._STATE = cdc._STATE.replace(72, 'Puerto Rico')
cdc._STATE = cdc._STATE.replace(0, np.nan)

In [10]:
cdc._AGE_G = cdc._AGE_G.replace(1, 'Age 18 to 24')
cdc._AGE_G = cdc._AGE_G.replace(2, 'Age 25 to 34')
cdc._AGE_G = cdc._AGE_G.replace(3, 'Age 35 to 44')
cdc._AGE_G = cdc._AGE_G.replace(4, 'Age 45 to 54')
cdc._AGE_G = cdc._AGE_G.replace(5, 'Age 55 to 64')
cdc._AGE_G = cdc._AGE_G.replace(6, 'Age 65 and older')

In [11]:
cdc._SEX = cdc._SEX.replace(1, 'Male')
cdc._SEX = cdc._SEX.replace(2, 'Female')

In [12]:
cdc.BIRTHSEX = cdc.BIRTHSEX.replace(1, 'Male')
cdc.BIRTHSEX = cdc.BIRTHSEX.replace(2, 'Female')
cdc.BIRTHSEX = cdc.BIRTHSEX.replace(7, "Don't Know/Not Sure")
cdc.BIRTHSEX = cdc.BIRTHSEX.replace(9, 'Refused')
cdc.BIRTHSEX = cdc.BIRTHSEX.replace(0, np.nan)

In [13]:
cdc.SOMALE = cdc.SOMALE.replace(1,'Gay')
cdc.SOMALE = cdc.SOMALE.replace(2,'Straight')
cdc.SOMALE = cdc.SOMALE.replace(3,'Bisexual')
cdc.SOMALE = cdc.SOMALE.replace(4,'Something Else')
cdc.SOMALE = cdc.SOMALE.replace(7,"Don't Know")
cdc.SOMALE = cdc.SOMALE.replace(9,'Refused')
cdc.SOMALE = cdc.SOMALE.replace(0,np.nan)

In [14]:
cdc.SOFEMALE = cdc.SOFEMALE.replace(1,'Lesbian or Gay')
cdc.SOFEMALE = cdc.SOFEMALE.replace(2,'Straight')
cdc.SOFEMALE = cdc.SOFEMALE.replace(3,'Bisexual')
cdc.SOFEMALE = cdc.SOFEMALE.replace(4,'Something Else')
cdc.SOFEMALE = cdc.SOFEMALE.replace(7,"Don't Know")
cdc.SOFEMALE = cdc.SOFEMALE.replace(9,'Refused')
cdc.SOFEMALE = cdc.SOFEMALE.replace(0,np.nan)

In [15]:
cdc.TRNSGNDR = cdc.TRNSGNDR.replace(1, 'Yes, male to female')
cdc.TRNSGNDR = cdc.TRNSGNDR.replace(2, 'Yes, female to male')
cdc.TRNSGNDR = cdc.TRNSGNDR.replace(3, 'Yes, gender nonconforming')
cdc.TRNSGNDR = cdc.TRNSGNDR.replace(4, 'No')
cdc.TRNSGNDR = cdc.TRNSGNDR.replace(7, "Don't Know/Not Sure")
cdc.TRNSGNDR = cdc.TRNSGNDR.replace(9, 'Refused')
cdc.TRNSGNDR = cdc.TRNSGNDR.replace(0, np.nan)

In [16]:
cdc._EDUCAG = cdc._EDUCAG.replace(1,'Did not graduate High School')
cdc._EDUCAG = cdc._EDUCAG.replace(2,'Graduated High School')
cdc._EDUCAG = cdc._EDUCAG.replace(3,'Attended College or Technical School')
cdc._EDUCAG = cdc._EDUCAG.replace(4,'Graduated from College or Technical School')
cdc._EDUCAG = cdc._EDUCAG.replace(9,np.nan)

In [17]:
cdc.EMPLOY1 = cdc.EMPLOY1.replace(1,'Employed for Wages')
cdc.EMPLOY1 = cdc.EMPLOY1.replace(2,'Self-employed')
cdc.EMPLOY1 = cdc.EMPLOY1.replace(3,'Out of work for 1 year or more')
cdc.EMPLOY1 = cdc.EMPLOY1.replace(4,'Out of work for less than 1 year')
cdc.EMPLOY1 = cdc.EMPLOY1.replace(5,'A homemaker')
cdc.EMPLOY1 = cdc.EMPLOY1.replace(6,'A student')
cdc.EMPLOY1 = cdc.EMPLOY1.replace(7,'Retired')
cdc.EMPLOY1 = cdc.EMPLOY1.replace(8,'Unable to work')
cdc.EMPLOY1 = cdc.EMPLOY1.replace(9,'Refused')
cdc.EMPLOY1 = cdc.EMPLOY1.replace(0,np.nan)

In [18]:
cdc._INCOMG = cdc._INCOMG.replace(1,'Less than 15,000')
cdc._INCOMG = cdc._INCOMG.replace(2,"15,000 to less than 25,000")
cdc._INCOMG = cdc._INCOMG.replace(3,'25,000 to less than 35,000')
cdc._INCOMG = cdc._INCOMG.replace(4,'35,000 to less than 50,000')
cdc._INCOMG = cdc._INCOMG.replace(5,'50,000 or more')
cdc._INCOMG = cdc._INCOMG.replace(9,np.nan)

In [19]:
cdc._RACE = cdc._RACE.replace(1,'White only, non-Hispanic')
cdc._RACE = cdc._RACE.replace(2,'Black only, non-Hispanic')
cdc._RACE = cdc._RACE.replace(3,'American Indian or Alaskan Native only, Non-Hispanic')
cdc._RACE = cdc._RACE.replace(4,'Asian only, non-Hispanic')
cdc._RACE = cdc._RACE.replace(5,'Native Hawaiian or other Pacific Islander only, Non-Hispanic')
cdc._RACE = cdc._RACE.replace(6,'Other race only, non-Hispanic')
cdc._RACE = cdc._RACE.replace(7,'Multiracial, non-Hispanic')
cdc._RACE = cdc._RACE.replace(8,'Hispanic')
cdc._RACE = cdc._RACE.replace(9,'Donâ€™t know/Not sure/Refused')
cdc._RACE = cdc._RACE.replace(0,np.nan)

In [20]:
cdc.GENHLTH = cdc.GENHLTH.replace(1,'Excellent')
cdc.GENHLTH = cdc.GENHLTH.replace(2,'Very Good')
cdc.GENHLTH = cdc.GENHLTH.replace(3,'Good')
cdc.GENHLTH = cdc.GENHLTH.replace(4,'Fair')
cdc.GENHLTH = cdc.GENHLTH.replace(5,'Poor')
cdc.GENHLTH = cdc.GENHLTH.replace(7,"Don't Know/Not Sure")
cdc.GENHLTH = cdc.GENHLTH.replace(9,'Refused')
cdc.GENHLTH = cdc.GENHLTH.replace(0,np.nan)

In [21]:
cdc._PHYS14D = cdc._PHYS14D.replace(1,'Zero days when physical health not good')
cdc._PHYS14D = cdc._PHYS14D.replace(2,'1-13 days when physical health not good')
cdc._PHYS14D = cdc._PHYS14D.replace(3,'14+ days when physical health not good')
cdc._PHYS14D = cdc._PHYS14D.replace(9,np.nan)

In [22]:
cdc._MENT14D = cdc._MENT14D.replace(1,'Zero days when mental health not good')
cdc._MENT14D = cdc._MENT14D.replace(2,'1-13 days when mental health not good')
cdc._MENT14D = cdc._MENT14D.replace(3,'14+ days when mental health not good')
cdc._MENT14D = cdc._MENT14D.replace(9,np.nan)

In [23]:
cdc._HCVU651 = cdc._HCVU651.replace(1,'Have health care coverage')
cdc._HCVU651 = cdc._HCVU651.replace(2,'Do not have health care coverage')
cdc._HCVU651 = cdc._HCVU651.replace(9,np.nan)

In [24]:
cdc.PERSDOC2 = cdc.PERSDOC2.replace(1,'Yes, only one')
cdc.PERSDOC2 = cdc.PERSDOC2.replace(2,'More than one')
cdc.PERSDOC2 = cdc.PERSDOC2.replace(3,'No')
cdc.PERSDOC2 = cdc.PERSDOC2.replace(7,"Donâ€™t know/Not Sure")
cdc.PERSDOC2 = cdc.PERSDOC2.replace(9,'Refused')
cdc.PERSDOC2 = cdc.PERSDOC2.replace(0,np.nan)

In [25]:
cdc.MEDCOST = cdc.MEDCOST.replace(1,'Yes')
cdc.MEDCOST = cdc.MEDCOST.replace(2,'No')
cdc.MEDCOST = cdc.MEDCOST.replace(7,"Donâ€™t know/Not sure")
cdc.MEDCOST = cdc.MEDCOST.replace(9,'Refused')
cdc.MEDCOST = cdc.MEDCOST.replace(0,np.nan)

In [26]:
cdc.CHECKUP1 = cdc.CHECKUP1.replace(1,'Within past year (anytime less than 12 months ago)')
cdc.CHECKUP1 = cdc.CHECKUP1.replace(2,'Within past year (anytime less than 12 months ago)')
cdc.CHECKUP1 = cdc.CHECKUP1.replace(3,'Within past 5 years (2 years but less than 5 years ago)')
cdc.CHECKUP1 = cdc.CHECKUP1.replace(4,'5 or more years ago')
cdc.CHECKUP1 = cdc.CHECKUP1.replace(7,"Donâ€™t know/Not sure")
cdc.CHECKUP1 = cdc.CHECKUP1.replace(8,'Never')
cdc.CHECKUP1 = cdc.CHECKUP1.replace(9,'Refused')
cdc.CHECKUP1 = cdc.CHECKUP1.replace(0,np.nan)

In [27]:
pd.set_option('display.max_columns', None)
cdc.head(2)

,_STATE,_AGE_G,_SEX,BIRTHSEX,SOMALE,SOFEMALE,TRNSGNDR,_EDUCAG,EMPLOY1,_INCOMG,_RACE,GENHLTH,_PHYS14D,_MENT14D,_HCVU651,PERSDOC2,MEDCOST,CHECKUP1
0,Alabama,Age 65 and older,Female,NaN,NaN,NaN,NaN,Did not graduate High School,Retired,"15,000 to less than 25,000","Black only, non-Hispanic",Good,14+ days when physical health not good,Zero days when mental health not good,NaN,"Yes, only one",No,Within past year (anytime less than 12 months ...
1,Alabama,Age 65 and older,Female,NaN,NaN,NaN,NaN,Attended College or Technical School,Retired,"25,000 to less than 35,000","White only, non-Hispanic",Fair,1-13 days when physical health not good,Zero days when mental health not good,NaN,"Yes, only one",No,Within past year (anytime less than 12 months ...

In [28]:
cdc['region'] = ""
for ind,row in cdc.iterrows():
    if row._STATE == 'Connecticut' or row._STATE == 'Puerto Rico' or row._STATE == 'Maine' or row._STATE == 'Massachusetts' or row._STATE == 'New Hampshire' or row._STATE == 'Rhode Island' or row._STATE == 'Vermont' or row._STATE == 'New Jersey' or row._STATE == 'New York' or row._STATE == 'Pennsylvania':
        cdc.at[ind, 'region'] = 'Northeast'
    elif row._STATE == 'Illinois' or row._STATE == 'Indiana' or row._STATE == 'Michigan' or row._STATE == 'Ohio' or row._STATE == 'Wisconsin' or row._STATE == 'Iowa' or row._STATE == 'Kansas' or row._STATE == 'Minnesota' or row._STATE == 'Missouri' or row._STATE == 'Nebraska' or row._STATE == 'North Dakota' or row._STATE == 'South Dakota':
        cdc.at[ind, 'region'] = 'Midwest'
    elif row._STATE == 'Arizona' or row._STATE == 'Guam' or row._STATE == 'Colorado' or row._STATE == 'Idaho' or row._STATE == 'Montana' or row._STATE == 'Nevada' or row._STATE == 'New Mexico' or row._STATE == 'Utah' or row._STATE == 'Wyoming' or row._STATE == 'Alaska' or row._STATE == 'California' or row._STATE == 'Hawaii' or row._STATE == 'Oregon' or row._STATE == 'Washington':
        cdc.at[ind, 'region'] = 'West'
    elif row._STATE == np.nan:
        cdc.at[ind, 'region'] = np.nan
    else:
        cdc.at[ind,'region'] = 'South'

In [29]:
cdc['trans'] = ""
for ind,row in cdc.iterrows():
    if row.TRNSGNDR == 'Yes, male to female' or row.TRNSGNDR == 'Yes, female to male' or row.TRNSGNDR == 'Yes, gender nonconforming':
        cdc.at[ind, 'trans'] = 'Transgender'
    elif row.TRNSGNDR == 'No' or row.TRNSGNDR =="Don't Know/Not Sure" or row.TRNSGNDR == 'Refused':
        cdc.at[ind,'trans'] = 'Cisgender'
    else:
        cdc.at[ind,'trans'] = 'Unknown'

In [30]:
cdc['gender'] = ""
for ind,row in cdc.iterrows():
    if row.TRNSGNDR == 'Yes, female to male':
        cdc.at[ind,'gender'] = 'Male'
    elif row.TRNSGNDR == 'Yes, male to female':
        cdc.at[ind,'gender'] = 'Female'
    elif row.TRNSGNDR == 'Yes, gender nonconforming':
        cdc.at[ind,'gender'] = 'Gender nonconforming'
    else:
        cdc.at[ind,'gender'] = row._SEX

In [31]:
cdc['sexual orientation'] = ""
for ind,row in cdc.iterrows():
    if row.SOMALE == 'Gay' or row.SOFEMALE == 'Lesbian or Gay':
        cdc.at[ind,'sexual orientation'] = 'Gay'
    elif row.SOMALE == 'Straight' or row.SOFEMALE == 'Straight':
        cdc.at[ind,'sexual orientation'] = 'Straight'
    elif row.SOMALE == 'Bisexual' or row.SOFEMALE == 'Bisexual':
        cdc.at[ind,'sexual orientation'] = 'Bisexual'
    elif row.SOMALE == 'Something else' or row.SOFEMALE == 'Something else':
        cdc.at[ind,'sexual orientation'] = 'Something else'

In [32]:
cdc['education'] = ""
for ind,row in cdc.iterrows():
    if row._EDUCAG == 'Did not graduate High School' or row._EDUCAG == 'Graduated High School':
        cdc.at[ind,'education'] = 'No post-secondary education'
    elif row._EDUCAG == 'Attended College or Technical School' or row._EDUCAG == 'Graduated from College or Technical School':
        cdc.at[ind,'education'] = 'Post-secondary education'

In [33]:
cdc['employment'] = ""
for ind,row in cdc.iterrows():
    if row.EMPLOY1 == 'Employed for Wages' or row.EMPLOY1 == 'Self-employed':
        cdc.at[ind,'employment'] = 'Employed'
    elif row.EMPLOY1 == 'Out of work for 1 year or more' or row.EMPLOY1 == 'Out of work for 1 year or more':
        cdc.at[ind,'employment'] = 'Unemployed'

In [34]:
cdc['income']= ""
for ind,row in cdc.iterrows():
    if row._INCOMG == "Less than 15,000" or row._INCOMG == "15,000 to less than 25,000" or row._INCOMG == '25,000 to less than 35,000':
        cdc.at[ind,'income'] = 'Less than $35,000'
    elif row._INCOMG == '35,000 to less than 50,000' or row._INCOMG == '50,000 or more':
        cdc.at[ind,'income'] = '$35,000 or more'

In [35]:
cdc.head()

,_STATE,_AGE_G,_SEX,BIRTHSEX,SOMALE,SOFEMALE,TRNSGNDR,_EDUCAG,EMPLOY1,_INCOMG,_RACE,GENHLTH,_PHYS14D,_MENT14D,_HCVU651,PERSDOC2,MEDCOST,CHECKUP1,region,trans,gender,sexual orientation,education,employment,income
0,Alabama,Age 65 and older,Female,NaN,NaN,NaN,NaN,Did not graduate High School,Retired,"15,000 to less than 25,000","Black only, non-Hispanic",Good,14+ days when physical health not good,Zero days when mental health not good,NaN,"Yes, only one",No,Within past year (anytime less than 12 months ...,South,Unknown,Female,,No post-secondary education,,"Less than $35,000"
1,Alabama,Age 65 and older,Female,NaN,NaN,NaN,NaN,Attended College or Technical School,Retired,"25,000 to less than 35,000","White only, non-Hispanic",Fair,1-13 days when physical health not good,Zero days when mental health not good,NaN,"Yes, only one",No,Within past year (anytime less than 12 months ...,South,Unknown,Female,,Post-secondary education,,"Less than $35,000"
2,Alabama,Age 65 and older,Female,NaN,NaN,NaN,NaN,Graduated from College or Technical School,Retired,"50,000 or more","Black only, non-Hispanic",Good,Zero days when physical health not good,14+ days when mental health not good,NaN,More than one,No,Within past year (anytime less than 12 months ...,South,Unknown,Female,,Post-secondary education,,"$35,000 or more"
3,Alabama,Age 65 and older,Female,NaN,NaN,NaN,NaN,Attended College or Technical School,Retired,"35,000 to less than 50,000","White only, non-Hispanic",Fair,14+ days when physical health not good,Zero days when mental health not good,NaN,"Yes, only one",No,Within past year (anytime less than 12 months ...,South,Unknown,Female,,Post-secondary education,,"$35,000 or more"
4,Alabama,Age 65 and older,Female,NaN,NaN,NaN,NaN,Attended College or Technical School,A homemaker,NaN,"White only, non-Hispanic",Very Good,Zero days when physical health not good,Zero days when mental health not good,NaN,"Yes, only one",No,Within past year (anytime less than 12 months ...,South,Unknown,Female,,Post-secondary education,,

In [36]:
cdc.to_csv('../data/cdc_clean.csv', index=False)